<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>MODIFICAR PERSONAS - Dainer Florian</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/modView.css}" />
    </head>
    <body>
        <center>
            <h1>DATOS DE LA PERSONAS <a class="back" th:href="@{/personas}"> < </a></h1>
            <div class="line"></div>
            <br/>
            <div class="container">
                <form class="form" th:action="@{/personas/guardar}" method="POST" th:object="${persona}">
                    <br/>
                    
                    <div class="form_group">
                        <label class="tag" id="id" for="id">ID:</label>
                        <input class="form_input" type="text" name="id" th:field="*{id}" readonly />
                        <br/> 
                    </div>
                    
                    <div class="form_group">
                        <label class="tag" for="cedula"><span style="color: red">*</span> CEDULA:</label>
                        <input class="form_input" type="text" name="cedula" th:field="*{cedula}" required />
                        <span th:if="${#fields.hasErrors('cedula')}" th:errors='*{cedula}'>La cedula es requerida</span>
                        <br/>
                    </div>
                    
                    <div class="form_group">
                        <label class="tag" for="nombre"><span style="color: red">*</span> NOMBRE:</label>
                        <input class="form_input" type="text" name="nombre" th:field="*{nombre}" required />
                        <span th:if="${#fields.hasErrors('nombre')}" th:errors='*{nombre}'>El nombre es requerido</span>
                        <br/>
                    </div>
                    
                    <div class="form_group">
                        <label class="tag" for="produccion"><span style="color: red">*</span> PRODUCCIÓN:</label>
                        <input class="form_input" type="text" name="produccion" th:field="*{produccion}" required />
                        <span th:if="${#fields.hasErrors('produccion')}" th:errors='*{produccion}'>La produccion es requerida</span>
                        <br/>
                    </div>
                    
                    <div class="form_group">
                        <label class="tag" for="productora"><span style="color: red">*</span> PRODUCTORA:</label>
                        <input class="form_input" type="text" name="productora" th:field="*{productora}" required />
                        <span th:if="${#fields.hasErrors('productora')}" th:errors='*{productora}'>La productora es requerida</span>
                        <br/>
                    </div>
                    
                    <div class="form_group">
                        <label class="tag" for="programa"><span style="color: red">*</span> PROGRAMA:</label>
                        <input class="form_input" type="text" name="programa" th:field="*{programa}" required />
                        <span th:if="${#fields.hasErrors('programa')}" th:errors='*{programa}'>El programa es requerido</span>
                        <br/>
                    </div>
                    
                    <div class="form_group">
                        <label class="tag" for="progresumen"><span style="color: red">*</span> PROGRAMA RESUMEN:</label>
                        <input class="form_input" type="text" name="progresumen" th:field="*{progresumen}" required />
                        <span th:if="${#fields.hasErrors('progresumen')}" th:errors='*{progresumen}'>El programa resumen es requerido</span>
                        <br/>
                    </div>
                    
                    <div class="form_group">
                        <label class="tag" for="rol"><span style="color: red">*</span> ROL:</label>
                        <input class="form_input" type="text" name="rol" th:field="*{rol}" required />
                        <span th:if="${#fields.hasErrors('rol')}" th:errors='*{rol}'>El rol es requerido</span>
                        <br/>
                    </div>

                    <br/>
                    <input class="btn" type="reset" value="Limpiar" /> &nbsp;&nbsp;&nbsp;
                    <input class="btn" type="submit" name="guardar" value="Guardar" />
                    <br/>
                </form>
            </div>     
        </center>        
    </body>
</html>
