<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Consorcios Principal - Dainer Florian</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/css/clasesMain.css}" />
        <link rel="stylesheet" th:href="@{/css/footer.css}" />
    </head>
    <body>
        <center>
            <h1>CONSORCIOS <a class="back" th:href="@{/}"> < </a></h1>
            <div class="line"></div>
            <br/>
            <ul>
                <li>            
                    <a class="menu" th:href="@{/consorcios/agregar}">AGREGAR CONSORCIO</a>            
                </li>
                <li>            
                    <a class="menu" th:href="@{/consorcios/lista}">LISTA DE CONSORCIOS</a>            
                </li>
            </ul>        
            <footer th:replace="plantillas/partes :: footer"></footer>
        </center>
    </body>
</html>