<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista Consorcios - Dainer Florian</title>
        <meta charset="UTF-8">        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">     
        <link rel="stylesheet" th:href="@{/css/listaView.css}" />
        <link rel="stylesheet" th:href="@{/css/footer.css}" />
    </head>
    <body>
        <center>
            <h1>LISTA DE CONSORCIOS <a class="back" th:href="@{/consorcios}"> < </a></h1>
            <div class="line"></div>
            <br/>        
            <div class="container" th:if="${consorcio != null and !consorcio.empty}">
                <table border="1">
                    <tr>
                        <th>ID</th>
                        <th>EMISORA</th>
                        <th>PRODUCTORA</th>
                        <th colspan="2">ACCIÓN</th>
                    </tr>
                    <tr th:each="cons: ${consorcio}">
                        <td th:text="${cons.id}"></td>
                        <td th:text="${cons.emisora}"></td>
                        <td th:text="${cons.productora}"></td>
                        <td><a class="editar" th:href="@{/consorcios/editar/}+${cons.id}" th:text="EDITAR"></a></td>
                        <td><a class="eliminar" th:href="@{/consorcios/eliminar(id=${cons.id})}" th:text="ELIMINAR"></a></td>
                    </tr>
                </table>
            </div>        
            <div th:if="${consorcio == null or consorcio.empty}">
                <span class="empty">La lista se encuentra vacía.</span>
            </div>
            <footer th:replace="plantillas/partes :: footer"></footer>
        </center>
    </body>
</html>