<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>MODIFICAR CONSORCIOS - Dainer Florian</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/modView.css}" />
    </head>
    <body>
        <center>
            <h1>DATOS DEL CONSORCIO <a class="back" th:href="@{/consorcios}"> < </a></h1>
            <div class="line"></div>
            <br/>
            <div class="container">
                <form class="form" th:action="@{/consorcios/guardar}" method="POST" th:object="${consorcio}">
                    <br/>
                    
                    <div class="form_group">
                        <label class="tag" id="id" for="id">ID:</label>
                        <input class="form_input" type="text" name="id" th:field="*{id}" readonly />
                        <br/> 
                    </div>
                    
                    <div class="form_group">
                        <label class="tag" for="emisora"><span style="color: red">*</span> EMISORA:</label>
                        <input class="form_input" type="text" name="emisora" th:field="*{emisora}" required />
                        <span th:if="${#fields.hasErrors('emisora')}" th:errors='*{emisora}'>La emisora es requerida</span>
                        <br/>
                    </div>
                    
                    <div class="form_group">
                        <label class="tag" for="productora"><span style="color: red">*</span> PRODUCTORA:</label>
                        <input class="form_input" type="text" name="productora" th:field="*{productora}" required />
                        <span th:if="${#fields.hasErrors('productora')}" th:errors='*{productora}'>La productora es requerida</span>
                        <br/>
                    </div>
                    
                    <br/>
                    <input class="btn" type="reset" value="Limpiar" /> &nbsp;&nbsp;&nbsp;
                    <input class="btn" type="submit" name="guardar" value="Guardar" />
                    <br/>
                </form>
            </div>
        </center>
    </body>
</html>
