<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>MODIFICAR PROGRAMAS RESUMEN - Dainer Florian</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/modView.css}" />
    </head>
    <body>
        <center>
            <h1>DATOS DEL PROGRAMA RESUMEN <a class="back" th:href="@{/progResumen}"> < </a></h1>
            <div class="line"></div>
            <br/>
            <div class="container">
                <form class="form" th:action="@{/progResumen/guardar}" method="POST" th:object="${progres}">
                    <br/>

                    <div class="form_group">
                        <label class="tag" id="id" for="id">ID:</label>
                        <input class="form_input" type="number" name="id" th:field="*{id}" readonly />
                        <br/>
                    </div>
                    
                    <div class="form_group">
                        <label class="tag" for="nombre"><span style="color: red">*</span> NOMBRE:</label>
                        <input class="form_input" type="text" name="nombre" th:field="*{nombre}" required />
                        <span th:if="${#fields.hasErrors('nombre')}" th:errors='*{nombre}'>El nombre es requerido</span>
                        <br/>
                    </div>
                    
                    <div class="form_group">
                        <label class="tag" for="programa"><span style="color: red">*</span> PROGRAMA:</label>
                        <input class="form_input" type="number" name="programa" th:field="*{programa}" required />
                        <span th:if="${#fields.hasErrors('programa')}" th:errors='*{programa}'>El programa es requerido</span>
                        <br/>
                    </div>
                    
                    <div class="form_group">
                        <label class="tag" for="consorcio"><span style="color: red">*</span> CONSORCIO:</label>
                        <input class="form_input" type="number" name="consorcio" th:field="*{consorcio}" required />
                        <span th:if="${#fields.hasErrors('consorcio')}" th:errors='*{consorcio}'>El consorcio es requerido</span>
                        <br/>
                    </div>
                    
                    <br/>
                    <input class="btn" type="reset" value="Limpiar" /> &nbsp;&nbsp;&nbsp;
                    <input class="btn" type="submit" name="guardar" value="Guardar" />
                    <br/>
                </form>
            </div>            
        </center>        
    </body>
</html>
