<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Programas Resumen Principal - Dainer Florian</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>PROGRAMAS RESUMEN <a th:href="@{/}"><</a></h1>
        <hr><br/>
        <div>            
            <a th:href="@{/progResumen/agregar}">AGREGAR PROGRAMA RESUMEN</a>            
        </div>
        <div>            
            <a th:href="@{/progResumen/lista}">LISTA DE PROGRAMAS RESUMEN</a>            
        </div>
        <footer th:replace="plantillas/partes :: footer"></footer>
    </body>
</html>