<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>WEB MVC w/SPRING BOOT - Dainer Florian</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <footer th:fragment="footer">
            <div class="container">
                <div class="line"></div>
                <br/>
                <span class="copy">Made by: Dainer Samuel Florian Arroyo</span>
                <div class="git copy">
                    <a id="git" href="https://github.com/Dainerdev" target="_blank">GitHub - DainerDev</a>
                </div>
            </div>
        </footer>
    </body>
</html>
