<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>WEB MVC w/SPRING BOOT - Dainer Florian</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <header th:fragment="header">
            <h1>APP WEB MVC CON SPRING BOOT</h1>
        </header>
        
        <footer th:fragment="footer">
            <br/><hr>
            <span>Made by: Dainer Samuel Florian Arroyo</span>
            <p>
                <a href="https://github.com/Dainerdev" target="_blank">GitHub - DainerDev</a>
            </p>
        </footer>
    </body>
</html>
