<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Programas Principal - Dainer Florian</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>PROGRAMAS <a th:href="@{/}"><</a></h1>
        <hr><br/>
        <div>            
            <a th:href="@{/programas/agregar}">AGREGAR PROGRAMA</a>            
        </div>
        <div>            
            <a th:href="@{/programas/lista}">LISTA DE PROGRAMA</a>            
        </div>
        <footer th:replace="plantillas/partes :: footer"></footer>
    </body>
</html>