<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Lista Productoras - Dainer Florian</title>
        <meta charset="UTF-8">        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">       
        <link rel="stylesheet" th:href="@{/css/listaView.css}" />
        <link rel="stylesheet" th:href="@{/css/footer.css}" />
    </head>
    <body>
        <center>
            <h1>LISTA DE PRODUCTORAS <a class="back" th:href="@{/productoras}"> < </a></h1>
            <div class="line"></div>
            <br/>        
            <div class="container" th:if="${productora != null and !productora.empty}">
                <table border="1">
                    <tr>
                        <th>ID</th>
                        <th>NOMBRE</th>
                        <th>RFC</th>
                        <th>TELÉFONO</th>
                        <th colspan="2">ACCIÓN</th>
                    </tr>
                    <tr th:each="prod: ${productora}">
                        <td th:text="${prod.id}"></td>
                        <td th:text="${prod.nombre}"></td>
                        <td th:text="${prod.rfc}"></td>
                        <td th:text="${prod.telefono}"></td>
                        <td><a class="editar" th:href="@{/productoras/editar/}+${prod.id}" th:text="EDITAR"></a></td>
                        <td><a class="eliminar" th:href="@{/productoras/eliminar(id=${prod.id})}" th:text="ELIMINAR"></a></td>
                    </tr>
                </table>
            </div>        
            <div th:if="${productora == null or productora.empty}">
                <span class="empty">La lista se encuentra vacía.</span>
            </div>
            <footer th:replace="plantillas/partes :: footer"></footer>
        </center>
    </body>
</html>