<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>MODIFICAR PRODUCTORAS - Dainer Florian</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" th:href="@{/css/modView.css}" />
    </head>
    <body>
        <center>
            <h1>DATOS DE LA PRODUCTORA <a class="back" th:href="@{/productoras}"> < </a></h1>
            <div class="line"></div>
            <br/>
            <div class="container">
                <form class="form" th:action="@{/productoras/guardar}" method="POST" th:object="${productora}">
                    <br/>

                    <div class="form_group">
                        <label class="tag" id="id" for="id">ID:</label>
                        <input class="form_input" type="text" name="id" th:field="*{id}" readonly />
                        <br/>
                    </div>
                    
                    <div class="form_group">
                        <label class="tag" for="nombre"><span style="color: red">*</span> NOMBRE:</label>
                        <input class="form_input" type="text" name="nombre" th:field="*{nombre}" required />
                        <span th:if="${#fields.hasErrors('nombre')}" th:errors='*{nombre}'>El nombre es requerido</span>
                        <br/>
                    </div>
                    
                    <div class="form_group">
                        <label class="tag" for="rfc"><span style="color: red">*</span> RFC:</label>
                        <input class="form_input" type="text" name="rfc" th:field="*{rfc}" required />
                        <span th:if="${#fields.hasErrors('rfc')}" th:errors='*{rfc}'>El RFC es requerido</span>
                        <br/>
                    </div>
                    
                    <div class="form_group">
                        <label class="tag" for="telefono"><span style="color: red">*</span> TELÉFONO:</label>
                        <input class="form_input" type="text" name="telefono" th:field="*{telefono}" required />
                        <span th:if="${#fields.hasErrors('telefono')}" th:errors='*{telefono}'>El telefono es requerido</span>
                    <br/>
                    </div>
                    
                    <br/>
                    <input class="btn" type="reset" value="Limpiar" /> &nbsp;&nbsp;&nbsp;
                    <input class="btn" type="submit" name="guardar" value="Guardar" />
                    <br/>
                </form>
            </div>            
        </center>
    </body>
</html>
