<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Productoras Principal - Dainer Florian</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1>PRODUCTORAS <a th:href="@{/}"><</a></h1>
        <hr><br/>
        <div>            
            <a th:href="@{/productoras/agregar}">AGREGAR PRODUCTORA</a>            
        </div>
        <div>            
            <a th:href="@{/productoras/lista}">LISTA DE PRODUCTORAS</a>            
        </div>
        <footer th:replace="plantillas/partes :: footer"></footer>
    </body>
</html>