<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>MODIFICAR EMISORAS - Dainer Florian</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>DATOS DE LA EMISORA</h1>
        <a th:href="@{/emisoras}">REGRESAR</a>
        <br/>
        <form th:action="@{/emisoras/guardar}" method="POST" th:object="${emisora}">
            <br/>
            
            <label for="id">ID:</label>
            <input type="text" name="id" th:field="*{id}" readonly />
            <br/>            
            
            <span style="color: red">*</span> <label for="nombre">NOMBRE:</label>
            <input type="text" name="nombre" th:field="*{nombre}" required />
            <span th:if="${#fields.hasErrors('nombre')}" th:errors='*{nombre}'>El nombre es requerido</span>
            <br/>
            
            <span style="color: red">*</span> <label for="frec">FRECUENCIA:</label>
            <input type="text" name="frecuencia" th:field="*{frecuencia}" required />
            <span th:if="${#fields.hasErrors('frecuencia')}" th:errors='*{frecuencia}'>La frecuencia es requerida</span>
            <br/>
            
            <span style="color: red">*</span> <label for="transm">TRANSMISIÓN:</label>
            <input type="text" name="transmision" th:field="*{transmision}" required />
            <span th:if="${#fields.hasErrors('transmision')}" th:errors='*{transmision}'>La transmisión es requerida</span>
            <br/>
            
            <br/>
            <input type="reset" value="Limpiar" /> &nbsp;&nbsp;&nbsp;
            <input type="submit" name="guardar" value="Guardar" />
            <br/>
        </form>
    </body>
</html>
