<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Principal - Dainer Florian</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" th:href="@{/css/style.css}" />
        <link rel="stylesheet" th:href="@{/css/footer.css}" />
    </head>
    <body>
        <center>
            <h1>MENÚ PRINCIPAL</h1>
            <div class="line"></div>
            <br/>
            <div>
                <ul>
                    <li>
                        <a id="opt" th:href="@{/emisoras}">Ver Emisoras</a>
                    </li>
                    <li>
                        <a id="opt" th:href="@{/productoras}">Ver Productoras</a>
                    </li>
                    <li>
                        <a id="opt" th:href="@{/consorcios}">Ver Consorcios</a>
                    </li>
                    <li>
                        <a id="opt" th:href="@{/programas}">Ver Programas</a>
                    </li>
                    <li>
                        <a id="opt" th:href="@{/progResumen}">Ver Programas Resumen</a>
                    </li>
                    <li>
                        <a id="opt" th:href="@{/personas}">Ver Personas</a>
                    </li>
                </ul>
            </div>
            <footer th:replace="plantillas/partes :: footer"></footer>
        </center>
    </body>
</html>